[submodule "ajkControls"]
	path = ajkControls
	url = https://github.com/ajkfds/ajkControls.git
[submodule "codeEditor"]
	path = codeEditor
	url = https://github.com/ajkfds/codeEditor.git
[submodule "pluginVerilog"]
	path = pluginVerilog
	url = https://github.com/ajkfds/pluginVerilog.git
[submodule "pluginC"]
	path = pluginC
	url = https://github.com/ajkfds/pluginC.git
[submodule "pluginVivado"]
	path = pluginVivado
	url = https://github.com/ajkfds/pluginVivado.git
[submodule "pluginTcl"]
	path = pluginTcl
	url = https://github.com/ajkfds/pluginTcl.git
[submodule "pluginMarkdown"]
	path = pluginMarkdown
	url = https://github.com/ajkfds/pluginMarkdown.git
