[submodule "ajkControls"]
	path = ajkControls
	url = https://github.com/ajkfds/ajkControls.git
[submodule "codeEditor"]
	path = codeEditor
	url = https://github.com/ajkfds/codeEditor.git
[submodule "pluginVerilog"]
	path = pluginVerilog
	url = https://github.com/ajkfds/pluginVerilog.git
